<div class="container text-center shadow">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h4 class="text-black">Are you sure you want to apply?</h4>
            <p>If you choose to apply, your application will be submitted to <br>
                the employer.</p>
                <div class="col-lg-12 col-md-12"><button class="btn btn-primary w-50 text-white"><a routerLink="/finJobs/applyJob/submit"><span>Yes, I want to apply</span></a></button></div>
                <div class="col-lg-12 col-md-12"><button class="btn btn-outline-primary w-50 mt-2">No, I dont want this job</button></div>
        </div>       
    </div>
</div>
