<div class="container-fluid">
    <div class="row ">
      <div class="col-lg-7 col-md-12 ">
        <p class="fs-5 fw-bold mt-2">My Appliaction</p>
          <div class="card border-0 shadow">
           <div class="card-body " style="background-color: rgb(235, 224, 224);">
            <img src="../../../../assets/images/aitrich.png" alt="image1">
            <span class="ms-4  fw-bold">MERN Stack Intern</span>
            <p class="c_name text-info">Aitritch Technologies &#8226; Location</p>
           <p class="card-text">We are looking for a UI/UX Designer to turn our software into easy-to-use products
            for our clients.</p>
            <div class="btn btn1 border rounded-pill">Full-Time</div>
            <div class="btn btn1 border rounded-pill">Mid Level</div>
            <div class="btn btn1 border rounded-pill">$3000-$5000</div>
            <div class="btn btn1 border rounded-pill">indonesia</div>
            <div class="btn btn1 border rounded-pill">Onsite</div>
           </div>
            </div>
            <div class="card border mt-2">
              <div class="card-body">
               <img src="../../../../assets/images/python.png" alt="image1">
               <span class="ms-4  fw-bold">python Developer</span>
               <p class="c_name  text-info">Applexus Technologies &#8226; Location</p>
              <p class="card-text">Product Designer responsibilities include defining product specifications, creating
                digital or print drawings and designing fully-functional products.</p>
               <div class="btn btn1 border rounded-pill">Full-Time</div>
               <div class="btn btn1 border rounded-pill">Mid Level</div>
               <div class="btn btn1 border rounded-pill">$3000-$5000</div>
               <div class="btn btn1 border rounded-pill">indonesia</div>
               <div class="btn btn1 border rounded-pill">Onsite</div>
              </div>
               </div>
               <div class="card border mt-2" style="background-color: rgb(235, 224, 224);">
                <div class="card-body">
                 <img src="../../../../assets/images/develper.png" alt="image1">
                 <span class="ms-4  fw-bold">Junior Software Engineer</span>
                 <p class="c_name text-info">Excellence Technosoft &#8226; Location</p>
                <p class="card-text">We are looking for a talented UI Designer to create amazing user experiences. The
                  ideal candidate should have an eye for clean and artful design, possess superior UI
                  skills.</p>
                 <div class="btn btn1 border rounded-pill">Full-Time</div>
                 <div class="btn btn1 border rounded-pill">Mid Level</div>
                 <div class="btn btn1 border rounded-pill">$3000-$5000</div>
                 <div class="btn btn1 border rounded-pill">indonesia</div>
                 <div class="btn btn1 border rounded-pill">Onsite</div>
                 </div>
                 </div>
                 <div class="card border mt-2"style="background-color: rgb(235, 224, 224);">
                  <div class="card-body">
                   <img src="../../../../assets/images/linux.png" alt="image1">
                   <span class="ms-4  fw-bold">Linux/Networking Fresher</span>
                   <p class="c_name  text-info">Sparsh Innovators &#8226; Location</p>
                  <p class="card-text"> We are looking for a UX Designer to design software and platforms that meet
                    people s needs. You will combine interfaces and workflows to enhance user
                    experience.</p>
                   <div class="btn btn1 border rounded-pill ">Full-Time</div>
                   <div class="btn btn1 border rounded-pill">Mid Level</div>
                   <div class="btn btn1 border rounded-pill">$3000-$5000</div>
                   <div class="btn btn1 border rounded-pill">indonesia</div>
                   <div class="btn btn1 border rounded-pill">Onsite</div>
                  </div>
                   </div>
       
      </div>
      