.btn1{
   
        height: 30px;
        width: 100px;
        background-color: #18bda7;
        /* background: linear-gradient(-60deg, hsl(288, 88%, 26%) 2%, hsl(180, 89%, 31%) 30%); */
        }
    

