<div class="container-fluid">
<div class="row">
    <div class="col-md-7 " >
        <div class="navbar nav"> 
       <span style=" font-weight: bold; font-size: smaller;"><img class="icon size" src="../../../../assets/images/search-normal.png" alt="">Search For Jobs</span> <span></span> <span></span> <span></span><span></span><span style="font-weight: bold; font-size: smaller;"><img class="icon size " src=".././../../../assets/images/location.png" alt="">Location <img  class="icon size" src="../../../../assets/images/arrow-down.png" alt=""></span><span style="background-color: azure;"> <img  class="icon size" src="../../../../assets/images/setting-4.png" alt=""></span> 
    </div>

    <div class="navbar nav"> 
        <span style="font-weight: bold;"></span><li> <span> Sort by:</span><span style="font-weight: bold;"> Newest Jobs</span><img  src=".././../../../assets/images/Arrow - Down 2 (2).png"></li>
    </div>
    <div class="card border">
        <p class="navbar nav"><span></span> <img src="../../../../assets/images/Group 569.png" alt=""></p>
        <img  style="width: 3em ;height:3em ; " class="img_pos" src="../../../../assets/images/Rectangle 14.png" alt=""><span class="mern_text" style="font-weight:bold ;">Customer Service Executive</span>
        <span class="Atrich_text text-primary">Teleperformance <b class="text-dark"> Location</b> </span><br>
        <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients.</p>
      <ul type="none" >
         <li class="nav-item disabled">
         <input style="width: 8em; background-color: rgb(212, 155, 134);" type="button" class="btn-secondary  rounded-pill border" value="Full time"> 
         <input style="width: 8em; background-color: rgb(212, 155, 134);" type="button" class="btn-secondary  rounded-pill border" value="Mid Level">
         <input style="width: 8em; background-color: rgb(212, 155, 134);" type="button" class="btn-secondary  rounded-pill border" value="$3000-$5000">
         <input style="width: 8em; background-color: rgb(212, 155, 134);" type="button" class="btn-secondary  rounded-pill border" value="Indonesia">
         <input style="width: 8em; background-color: rgb(212, 155, 134);" type="button" class="btn-secondary  rounded-pill border" value="Onsite">
        </li> </ul><br>
     
   
        </div> 
                   
</div>
</div>
