<div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="navbar nav">
          <input type="text" class="form-control w-75" placeholder="Search for Jobs">
          <span><img src="../../../../assets/images/location.png" alt=""> Location</span>
        </div>
      </div>
  
      <div class="navbar nav">
        <span class="fs-5 fw-bold">All Jobs</span>
        <a routerLink="/savedjobs"><span class="fs-5 fw-bold text-dark save" style="text-decoration: none;">Saved Jobs</span></a>
        <span style="font-weight: bold;"></span>
        <li>
          <span> Sort by:</span>
          <a routerLink="/alljobs/newjobs"><span style="font-weight: bold;"> Newest Jobs</span></a>
          <img src=".././../../../assets/images/Arrow - Down 2 (2).png">
        </li>
      </div>
  
      <div  *ngFor="let list of jobs" class="card  w-75  mt-3 p-2 border-0 black shadow">
        <div class="card-body"><button class="btn btn-primary border rounded float-end">apply</button>
          <img src="../../../../assets/images/Rectangle 14.png" alt="image1">
          <span class="ms-4 fw-bold">{{ list.jobTitle | titlecase }}</span>
          <p class="c_name text-info">{{ list.jobSummary | titlecase  }}</p>
          <p class="card-text">Posted Date: {{ list.postedDate | titlecase  }}</p>
          <div class="btn btn1 border rounded text-white">Full-Time</div>
          <div class="btn btn1 border rounded text-white">Mid Level</div>
          <div class="btn btn1 border rounded text-white">$3000</div>
          <div class="btn btn1 border rounded text-white"(click)="saveJob(list.id)">save</div>
          <div class="btn btn1 border rounded text-white">Onsite</div>
        </div>
      </div>
  
    </div>
  <!-- </div> -->
  