<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 "  >
            <div class="row " >
                <!-- <div class="col-md-8 bg-white h-100 rounded d-block mx-auto w-75" >
                   <img src="../../../../assets/images/WhatsApp Image 2023-10-14 at 3.30.29 PM.jpeg " class="image-response img-fluid h-50 w-50 d-block mx-auto "> -->
                  
                   <h3 class="text-center">Register Here</h3>
                    <!-- <div class="row ">
                        <div class="col-md-1 "></div>
                        <div class="col-md-5 mx-auto ">
                           <label class=" " >FIRST NAME</label><br>
                           <input type="text" class="border-0 border-bottom form-control"  style="width: 69%;">
                        </div>
                          
                    </div> -->
                    <div class="row w-50 mx-auto mt-5" >
                      <form [formGroup]="registerForm" (ngSubmit)="submit()">
                      <input type="text" placeholder="Enter FullName"  class=" border-0 border-bottom form-control" formControlName="fullname" [ngClass]="{'is-invalid':submitted && registerForm.controls['fullname'].errors}">
                       <input type="text" placeholder="Enter UserName"  class="mt-4 border-0 border-bottom form-control" formControlName="username" [ngClass]="{'is-invalid':submitted && registerForm.controls['username'].errors}">
                        <input type="email" placeholder="Enter Email"  class="mt-4 border-0 border-bottom form-control" formControlName="email" [ngClass]="{'is-invalid':submitted && registerForm.controls['email'].errors}">
                        <input type="text" placeholder="Enter Phone Number"  class="mt-4 border-0 border-bottom form-control" formControlName="Phone" [ngClass]="{'is-invalid':submitted && registerForm.controls['Phone'].errors}">
                        <input type="password" placeholder="Enter Password"  class="mt-4 border-0 border-bottom form-control" formControlName="password" [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}">
                        <input type="password" placeholder="Confirm Password"  class="mt-4 border-0 border-bottom form-control" formControlName="cpassword" [ngClass]="{'is-invalid':submitted && registerForm.controls['cpassword'].errors}">                        
                        <a routerLink="/login"><button class="btn btn-info mt-1">Register</button></a>
                       <p class="text-center  text-decoration-none">Already have an account? <a routerLink="/login"><b class="text-info">Sign in</b></a></p>
                      </form>
                     </div>
                  
                </div>
                
            <!-- </div> -->
        </div>
    </div>
</div>

