<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h3 class="text-center">Register Here</h3>
                <div class="row w-50 mx-auto mt-5">
                    <form [formGroup]="registerForm">
                        <input type="text" placeholder="Enter User Name" class="border-0 border-bottom form-control"
                            formControlName="userName">
                        <div class="ml-4 mt-2" *ngIf="submitted && registerForm.controls['userName'].errors"
                            style="color: crimson;">please enter your user name
                        </div>
                        <input type="text" placeholder="Enter First Name" class="mt-4 border-0 border-bottom form-control"
                            formControlName="firstName">
                        <div class="ml-4 mt-2" *ngIf="submitted && registerForm.controls['firstName'].errors"
                            style="color: crimson;">please enter your first name
                        </div>
                        <input type="email" placeholder="Enter Last Name" class="mt-4 border-0 border-bottom form-control"
                            formControlName="lastName">
                        <div class="ml-4 mt-2" *ngIf="submitted && registerForm.controls['lastName'].errors"
                            style="color: crimson;">please enter your last name
                        </div>
                        <input type="text" placeholder="Enter Phone" class="mt-4 border-0 border-bottom form-control"
                            formControlName="phone">
                        <div class="ml-4 mt-2" *ngIf="submitted && registerForm.controls['phone'].errors"
                            style="color: crimson;">please enter your phone
                        </div>
                        <input type="text" placeholder="Enter Email" class="mt-4 border-0 border-bottom form-control"
                            formControlName="email">
                        <div class="ml-4 mt-2" *ngIf="submitted && registerForm.controls['email'].errors"
                            style="color: crimson;">please enter your email
                        </div>
                        <a routerLink="/set-password"></a>
                            <button type="submit" class="btn btn-info mt-2" 
                                (click)="submit()">Register</button>
                        
                        <p class="text-center text-decoration-none">Already have an account?
                            <a routerLink="/login"><b class="text-info">Sign in</b></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
