<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <h3 class=" d-none d-sm-inline">HireMe Now</h3>
    </a>
    <!-- <img class="w-50 ms-4  d-none d-sm-inline" src="./images/Ellipse 1.png" alt="">
    <div class=" d-none d-sm-inline" id="open"><p class="ms-1  d-none d-sm-inline">OPEN TO WORK</p></div>
    <p class="name mt-2  d-none d-sm-inline">Lesslie Alexander</p>
    <p class="email   d-none d-sm-inline">alexanderlesslie@gmail.com</p> -->

    <ul class="nav nav-pills flex-column mb-sm-auto mt-5 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item mt-2" (click)="navigateToDashboard()">
            <a href="../bootstrap_13.html" class="nav-link align-middle px-0">
                <img src="./../../../../assets/images/buildings-2.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">All Jobs</span>
            </a>
        </li><br>
        <li class="mt-2">
            <a href="./screen10.html" class="nav-link px-0 align-middle">
                <img src="./../../../../assets/images/Vector.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">MyApplications</span> </a>
            
        </li><br>
        <li class="mt-2">
            <a href="../bootstrap_11.html" class="nav-link px-0 align-middle">
                <img src="./../../../../assets/images/message-2.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">Messages</span></a>
        </li><br>
        <li class="mt-2">
            <a href="../bootstrap_12.html"  class="nav-link px-0 align-middle text-white ">
                <img src="./../../../../assets/images/profile.png" alt=""> <span class="ms-2 d-none d-sm-inline">My Profile</span></a>
            
        </li><br>
        <li class="mt-2">
            <a href="../bootstrap_14.html"  class="nav-link px-0 align-middle">
                <img src="./../../../../assets/images/setting-2.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">Settings</span> </a>
        </li>
       
    </ul>
    <!-- <ul class=" nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-5" id="menu1">
        <li class="nav-item">
            <a href="../bootstrap_13.html" class="nav-link align-middle px-0">
                <img src="./images/buildings-2.png" alt=""> <span class="ms-1 d-none d-sm-inline text-white">Type of Employement <p class="ms-4">Full time jobs</p></span>
            </a>
        </li>
        <li>
            <a href="../bootstrap_13.html"  class="nav-link px-0 align-middle">
                <img src="./images/Vector.png" alt=""> <span class="ms-1 d-none d-sm-inline text-white">Experience Level <p class="ms-4">Mid-level</p></span> </a>
            
        </li>
        <li>
            <a href="../bootstrap_13.html" class="nav-link px-0 align-middle">
                <img src="./images/message-2.png" alt=""> <span class="ms-1 d-none d-sm-inline text-white">Salary Range <p class="ms-4">$3000-$5000</p></span></a>
        </li>
        <li>
            <a href="../bootstrap_13.html"  class="nav-link px-0 align-middle text-white ">
                <img src="./images/profile.png" alt=""> <span class="ms-1 d-none d-sm-inline">Location <p class="ms-4">South Esat Asia</p></span></a>
            
        </li>
        <li>
            <a href="../bootstrap_13.html"  class="nav-link px-0 align-middle">
                <img src="./images/setting-2.png" alt=""> <span class="ms-1 d-none d-sm-inline text-white">Onsite/Remote <p class="ms-4">Remote Job</p></span> </a>
        </li>
        <button class="btn btn-light mt-1 d-none d-sm-inline "> Edit Preference </button>
       
    </ul> -->
    
    <hr>
    </div>