<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <h3 class=" d-none d-sm-inline">HireMe Now</h3>
    </a>
    <!-- <img class="w-50 ms-4  d-none d-sm-inline" src="./images/Ellipse 1.png" alt="">
    <div class=" d-none d-sm-inline" id="open"><p class="ms-1  d-none d-sm-inline">OPEN TO WORK</p></div>
    <p class="name mt-2  d-none d-sm-inline">Lesslie Alexander</p>
    <p class="email   d-none d-sm-inline">alexanderlesslie@gmail.com</p> -->

    <ul class="nav nav-pills flex-column mb-sm-auto mt-5 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item mt-2" (click)="navigateToDashboard()">
            <a  class="nav-link align-middle px-0">
                <img src="./../../../../assets/images/buildings-2.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">All Jobs</span>
            </a>
        </li><br>
        <li class="mt-2" (click)="navigateToApplication()">
            <a  class="nav-link px-0 align-middle">
                <img src="./../../../../assets/images/Vector.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">MyApplications</span> </a>
            
        </li><br>
        <li class="mt-2" (click)="navigateToMessages()">
            <a  class="nav-link px-0 align-middle">
                <img src="./../../../../assets/images/message-2.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">Messages</span></a>
        </li><br>
        <li class="mt-2" (click)="navigateToprofile()">
            <a   class="nav-link px-0 align-middle text-white ">
                <img src="./../../../../assets/images/profile.png" alt=""> <span class="ms-2 d-none d-sm-inline">My Profile</span></a>
            
        </li><br>
        <li class="mt-2" (click)="navigateToSettings()">
            <a  class="nav-link px-0 align-middle">
                <img src="./../../../../assets/images/setting-2.png" alt=""> <span class="ms-2 d-none d-sm-inline text-white">Settings</span> </a>
        </li>
    </ul>    
    <hr>
    </div>