<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <span class="fs-3 fw-bold ">Jobifyx</span>
        </div>
        <div class="col-md-8 ">
            <span class="fs-4 fw-bold" style="color: rgba(18, 56, 82, 0.938);">Find Jobs</span>
            <span class="fs-4 ms-5">Browse Companies</span>
        </div>
        <div class="col-md-2">
            <span><b>Login</b></span>
        </div>

            
        
        
        <div class="col-md-12 mt-5">
            <h1 class="text-center">Find Your <b class="" style="color: rgba(18, 56, 82, 0.938)">dreamjob</b></h1>
            <!-- <img class="mx-auto d-block image-response" src="../../../../assets/images/underline.png"> -->
            <p class="text-center">Find your next career at companies like HubSpot,Nike,and Dropbox</p>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class=""><input type="text" placeholder="Search Job title or keyword" class="border-0 border-bottom form-control fs-6 mt-4  "></div>
            </div>
           
        </div>

    </div>
    <div class="row ">
        
        <div class="col-md-11 mt-5 mx-auto">
            <!-- <h3>All Jobs</h3>
            <p class="text-secondary text-">Showing 73 results</p> -->


            <div class="row d-flex flex-nowrap">
                <div class="col-md-12">
                    <div class="card flex-row   bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/Company Logo (3).png" />
                        <div class="card-body ">
                           <button class="btn btn1 float-end mt-5 " style="background-color: rgba(18, 56, 82, 0.938); color: rgba(255, 217, 0, 0.815); width: 170px;"> <a routerLink="/findJobs/applyJob"><span >Apply</span></a></button>

                            <h4 class="card-title">Social Media Assistant</h4>
                            
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <!-- <p class=" text-end ">5 applied of 10 capacity</p> -->
                            </li>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>