<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h5 class="">HireMe Now!</h5>
        </div>
        <div class="col-md-7">
            <p><b class="text-info">Find Jobs</b> Browse Companies </p>
        </div>
        <div class="col-md-3 text-end">
            <a class="text-decoration-none" href="./welcome4.html">
                <p><b class="text-info">Login </b>
            </a><a href="./reguistrartion3.html"> <input style="width: 6em;"
                    class="text-center  bg-primary border-0 text-white rounded" type="button " value="SignUp"></a>
        </div>
        <div class="col-md-12 mt-5">
            <h1 class="text-center">Find Your <b class="text-info">dreamjob</b></h1>
            <img class="mx-auto d-block image-response" src="../../../../assets/images/underline.png">
            <p class="text-center">Find your next career at companies like HubSpot,Nike,and Dropbox</p>
        </div>
        <div class="row ms-">
            <div class="col-lg-6">
                <div class=""><img src="../../../../assets/images/Search.png"><input type="text"
                        placeholder="Job title or keyword" class="border-0 border-bottom fs-5 mt-5 w-75 "></div>
            </div>
            <div class="col-lg-6">
                <div class="border-0 "><img src="../../../../assets/images/location.png" class=" "><input type="text"
                        placeholder="Location" class="border-0 border-bottom mt-5 w-75">
                    <img src="../../../../assets/images/down.png"> <input type="button" value="Search"
                        class="bg-primary ms-2 border-0 text-white">
                </div>
            </div>
        </div>

    </div>
    <div class="row ">
        <div class="col-md-1 mt-5 ">
            <a class=" " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                <i class="bi bi-arrow-right-circle-fill h1"></i>
            </a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel" style="width:18rem;">

                <div class="offcanvas-body">

                    <div class="dropdown mt-3 ">
                        <h6 class="ms-5">Type of employement</h6>
                        <input class="text-center ms-5" type="checkbox">Full-time (3) <br>
                        <input class="text-center ms-5" type="checkbox">Part-Time (5) <br>
                        <input class="ms-5" type="checkbox">Remote <br>
                        <input class="text-center ms-5" type="checkbox">Internship (24) <br>
                        <input class="text-center ms-5" type="checkbox">Contract (3)
                        <h6 class="ms-5 mt-5">Type of nemployement</h6>
                        <input class="text-center ms-5" type="checkbox">Full-time (3) <br>
                        <input class="text-center ms-5" type="checkbox">Part-Time (5) <br>
                        <input class="ms-5" type="checkbox">Remote <br>
                        <input class="text-center ms-5" type="checkbox">Internship (24) <br>
                        <input class="text-center ms-5" type="checkbox">Contract (3)
                        <h6 class="ms-5 mt-5">Type of nemployement</h6>
                        <input class="text-center ms-5" type="checkbox">Full-time (3) <br>
                        <input class="text-center ms-5" type="checkbox">Part-Time (5) <br>
                        <input class="ms-5" type="checkbox">Remote <br>
                        <input class="text-center ms-5" type="checkbox">Internship (24) <br>
                        <input class="text-center ms-5" type="checkbox">Contract (3)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 mt-5">
            <h3>All Jobs</h3>
            <p class="text-secondary text-">Showing 73 results</p>


            <div class="row d-flex flex-nowrap">
                <div class="col-md-12">
                    <div class="card flex-row   bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/Company Logo (3).png" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>

                    </div>


                    <div class="card flex-row mt-2  bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/Company Logo (4).png" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>

                    </div>



                    <div class="card flex-row mt-2  bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/Company Logo.png" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>

                    </div>


                    <div class="card flex-row mt-2  bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/Company Logo (2).png" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>

                    </div>


                    <div class="card flex-row mt-2  bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/develper.png" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>

                    </div>


                    <div class="card flex-row mt-2  bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/Rectangle 14 (2).png" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>

                    </div>

                    <div class="card flex-row  mt-2  bg-light">
                        <img class="card-img-left example-card-img-responsive h-50"
                            src="../../../../assets/images/IMG-20231010-WA0016.jpg" />
                        <div class="card-body ">
                            <a href="./bootstrap_13.html"><input class="float-end bg-primary text-white border-0 w-25"
                                    type="button" value="Apply"></a>

                            <h4 class="card-title">Social Media Assistant</h4>
                            <div class="progress w-25 float-end ">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p class="card-text">Agency . Paris, France</p>

                            <li style="list-style: none;">
                                <input type="button" value="full-Time" class="btn btn-outline-success rounded-pill">
                                <b class="ms-1 text-secondary">|</b>
                                <input type="button" value="Marketing"
                                    class="btn btn-outline-warning rounded-pill ms-1">
                                <input type="button" value="Design" class="btn btn-outline-primary rounded-pill ms-1 ">
                                <p class="text-end">5 applied of 10 capacity</p>
                            </li>
                        </div>


                    </div>
                    <ul class="navbar nav col-md-7 text-center">
                        <li><p><</p></li>
                        <li><input type="button" value="1" class="bg-info border-0 text-white rounded"></li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>....</li>
                        <li>33</li>
                        <li>></li>
                    </ul>
                </div>
            </div>
        </div>