<div class="container-fluid ">
       
    <div class="row flex-nowrap">

   
            <div class="row">
                <div class="col-md-6 ">
                    <div class="navbar nav ml-3">
                        <li><h6>All Messages<img src="../../../../assets/images/arrow-down.png" alt=""></h6> </li>  
                        
                       <li> <img style="width: 2em;height: 2em;" src="../../../../assets/images/option.png"></li>
                </div>
                <div class="navbar nav ml-3">
                    <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/amazon.png" alt="">Amazon Hr Manager</h6> </li> 
                   
                   
                    
                   <li><p style="font-size: small; color: dimgray;">10:00AM</p></li>
                    
            </div>
          
            <div class="navbar nav ml-3">
                <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/Image (1).png" alt="">Maersk Hr Manager</h6> </li>  
                
               <li><p style="font-size: small; color: dimgray;">10:00AM</p></li>
              
        </div>
        <div class="navbar nav mt-3 ml-3">
            <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/Image (2).png" alt="">Aitrich Tech. Hr Manager</h6> </li>  
            
           <li><p style="font-size: small; color: dimgray;">9:00AM</p></li>
          
    </div>
     <div class="navbar nav mt-3 ml-3">
                <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/Image (5).png" alt="">Shoppee Hr Manager</h6> </li>  
                
               <li><p style="font-size: small; color: dimgray;">11:00AM</p></li>
              
        </div>
        <div class="navbar nav mt-3 ml-3 ">
            <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/abc.png" alt="">Flipkart Hr Manager</h6> </li>  
            
           <li><p style="font-size: small; color: dimgray;">10:03AM</p></li>
          
    </div>
    <div class="navbar nav mt-3 ml-3">
        <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/Image (3).png" alt="">Elon Musk</h6> </li>  
        
       <li><p style="font-size: small; color: dimgray;">10:00AM</p></li>
      
</div>
<div class="navbar nav mt-3 ml-3">
    <li><h6 ><img style="height: 2em; width: 2em;" src="../../../../assets/images/Image (4).png" alt="">Google Hr Manager</h6> </li>  
    
   <li><p style="font-size: small; color: dimgray;">10:00AM</p></li>
  
</div>             

                

            </div>
           
         

            


