<ng-container *ngIf="emailVerified">
<form #passwordForm="ngForm"  class="w-50 mx-auto border p-5  text-white shadow" style="background-color: rgba(18, 56, 82, 0.938);">
    <h3 class="text-center mb-4">Set password</h3>
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">New Password</label>
        <input type="text" class="form-control  border-0" name="newPass" required ngModel #newPass="ngModel" >
        <div *ngIf="newPass.invalid && newPass.touched" class="text-danger">Enter Password</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control border-0" name="cPass" required ngModel #cPass="ngModel">
        <div *ngIf="cPass.invalid && cPass.touched" class="text-danger">Confirm Password</div>
      </div>   
      <button type="submit" class="btn btn-light ">Close</button>
      <button type="submit" class="btn btn-success ms-3" [disabled]="passwordForm.invalid">Submit</button>
    </form>
    </ng-container>