<div class="container-fluid">
    <div class="row">
      <div class="top col-md-12 px-0 py-0">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(18, 56, 82, 0.274);">
  <a class="navbar-brand text-white fs-3 fw-bold">HireMe Now!</a>
  <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white;" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active text-white  mt-2" aria-current="page" href="./landing page.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  mt-2 text-white"  >Post A Job</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white mt-2">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white mt-2" >Feature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 text-white fw-bold mt-1 ms-5"   (click)="navigateToRegister()">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 fw-bold text-white  mt-1 ms-5" (click)="navigateToLogin()">Login</a>
      </li>
     
    </ul>
  </div>
</nav>
        <h2 class="ms-5 mt-5 text-white">The Best Place <br> to Find Your <br> Dream Company</h2>

          <p class="ms-5 mt-3 text-white">Ideal platform for job seekers passionate about <br>
            startups and seeking new career opportunities</p>

            <div class="w-100 p-5 ">
              <form>
                <input type="text" name="jobTitle" placeholder="Job title or Company" class="form-control w-50">
              </form>
              <a href="./bootstrap_13.html"><button class="btn btn-primary mt-3">Explore</button></a>
            </div>
            <div (click)="navigateToFind()">
            <button class="btn btn-success ms-5 mb-5">Land your dream job</button>
          </div>
            <button class="btn btn-success ms-5 mb-5">Recruit the perfect fit</button>

      </div>
    </div>
    




    <div class="row px-5">
      <div class="col-md-12 text-center">
        <h1>Explore By Category</h1>
        <p class=" fs-5 text-secondary">Open the doors to endless career possibilities <br>
          and find your dream job with ease</p>
      </div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
       <img class="img-fluid rounded mx-auto d-block bg-primary" src="../../../../assets/images/desktop-computer.png" alt="">
       <h5 class="mt-3">Development</h5>
       <p>512 Available Jobs</p>

        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
          <img class="img-fluid rounded mx-auto d-block bg-success" src="./../../../../assets/images/briefcase.png" alt="">
          <h5 class="mt-3">Buisiness</h5>
          <p>223 Available Jobs</p>
        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
          <img class="img-fluid rounded mx-auto d-block bg-secondary" src="../../../../assets/images/Icon.png" alt="">
          <h5 class="mt-3">Data Analyst</h5>
          <p>125 Available Jobs</p>
        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
          <img class="img-fluid rounded mx-auto d-block bg-info" src="../../../../assets/images/pen.png" alt="">
          <h5 class="mt-3">Design</h5>
          <p>400 Available Jobs</p>
        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
          <img class="img-fluid rounded mx-auto d-block bg-warning" src="./../../../../assets/images/home (2).png" alt="">
          <h5 class="mt-3">Finance</h5>
          <p>49 Available Jobs</p>
        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
          <img class="img-fluid rounded mx-auto d-block bg-danger" src="./../../../../assets/images/users.png" alt="">
          <h5 class="mt-3">Human Resource</h5>
          <p>116 Available Jobs</p>
        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card" style="width: 18rem;">
        <div class="card-body text-center">
          <img class="img-fluid rounded mx-auto d-block bg-success" src="./../../../../assets/images/pencil-alt.png" alt="">
          <h5 class="mt-3">Content Writing</h5>
          <p>323 Available Jobs</p>
        </div>
      </div></div>
      <div class="col-lg-3 col-md-6 mt-3">
        <div class="card1 card bg-primary" style="width: 18rem;">
        <a class="text-decoration-none" href="./opentowork5.html"><div class="card-body text-white">
          <p class="fs-5 ms-3">Explore <br> More 32+ <br> Companies</p>
          <img  src="../../../../assets/images/arrow.png" class="ms-3">
       </div></a>
      </div>
    </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 d-flex justify-content-center">
        <img class="w-75 h-75" src="../../../../assets/images/hands.png" alt="">
        <div class="alert w-25 float-right " style="border-radius: 10%;margin-top: 50%; margin-left: -20%;">
          <img src="../../../../assets/images/check-circle.png">
          <h6>Job Alert!</h6> 
          <span style="color: #6D7394;">104 job openings<br> avilable, don't<br> waste time</span>
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="mt-2 ms-5">Help You Find A Job <br>

          That Suits You</h1>
          <div class="row mt-5 ms-5">
            <div class="col-lg-1 col-md-1 p-0"><img src="../../../../assets/images/blue-right.png" alt=""></div>
            <div class="col-lg-11 col-md-11"><h5>Trusted and Acccurate</h5>
            <p>Trust us to help you find your perfect job with <br>
              our accurate job listings and reliable job portal.</p>
            </div>
            <div class="col-lg-1 col-md-1 p-0"><img src="./../../../../assets/images/blue-building.png" alt=""></div>
            <div class="col-lg-11 col-md-11"><h5>Hired By Top Company</h5>
            <p>Get one step closer to your career goals and <br>
              be employed by the best </p>
            </div>
            <div class="col-lg-1 col-md-1 p-0"><img src="./../../../../assets/images/blue-briefcase.png" alt=""></div>
            <div class="col-lg-11 col-md-11"><h5>Various Categories</h5>
            <p>Discover exciting career opportunities across a <br>
              wide range of industries
              </p>
            </div>
          </div>
      </div>
    </div>
    










    <div class="row p-5 mt-5">
      <div class="col-lg-12 col-md-12 text-center"><h1>Recently Popular jobs</h1>
      <p class="fs-5 text-secondary">Amet minim mollit non deserunt ullamco est sit aliqua dolor do <br>
        Velit officia consequat duis enim velit mollit.</p>
    </div>

      <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="job_cards card mt-4 viewalljobs" style="width: 20rem;">
        <div class="card-body">
          <img src="./../../../../assets/images/google.jpg" alt="">
          <span class="card-title fw-bold fs-5">Google</span>
          <div class="btn border text-primary bg-info ms-4">Development</div> 
          <h5 class="mt-3">Front End Development</h5>
          <img src="../../../../assets/images/location-marker.png" class="float-left img-responsive">
          <span class="text-primary">NewYork</span>
          <span class="float-end text-primary">Part-Time</span>
          <img src="../../../../assets/images/clock.png" class="img-responsive float-end">
          <hr>
          <p class="card-text">Amet minim mollit non deserunt ullaf lo

            est sit aliqua dolor do amet sint. Velitan </p>
        </div>
      </div></div>


      <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="job_cards card mt-4 viewalljobs" style="width: 20rem;">
        <div class="card-body">
          <img src="../../../../assets/images/microsoft.png" alt="">
          <span class="card-title fw-bold fs-5">Microsoft</span>
          <div class="btn border text-danger bg-warning ms-5">Finance</div> 
          <h5 class="mt-3">Accountant</h5>
          <img src="../../../../assets/images/location-marker.png" class="float-left img-responsive">
          <span class="text-primary">Minneppolis</span>
          <span class="float-end text-primary">Part-Time</span>
          <img src="../../../../assets/images/clock.png" class="img-responsive float-end">
          <hr>
          <p class="card-text">Amet minim mollit non deserunt ullaf lo

            est sit aliqua dolor do amet sint. Velitan </p>
        </div>
      </div></div>
      <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="job_cards card mt-4 viewalljobs" style="width: 20rem;">
        <div class="card-body">
          <img src="../../../../assets/images/slang.png" alt="">
          <span class="card-title fw-bold fs-5">Slack</span>
          <div class="btn border text-light bg-success ms-5">Designer</div> 
          <h5 class="mt-3">Product Design</h5>
          <img src="../../../../assets/images/location-marker.png" class="float-left img-responsive">
          <span class="text-primary">California</span>
          <span class="float-end text-primary">Full-Time</span>
          <img src="../../../../assets/images/clock.png" class="img-responsive float-end">
          <hr>
          <p class="card-text">Amet minim mollit non deserunt ullaf lo

            est sit aliqua dolor do amet sint. Velitan </p>
        </div>
      </div></div>
      <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="job_cards card mt-4 viewalljobs" style="width: 20rem;">
        <div class="card-body">
          <img src="../../../../assets/images/google.jpg" alt="">
          <span class="card-title fw-bold fs-5">Google</span>
          <div class="btn border text-info bg-light ms-4">Development</div> 
          <h5 class="mt-3">Front End Development</h5>
          <img src="../../../../assets/images/location-marker.png" class="float-left img-responsive">
          <span>NewYork</span>
          <span class="float-end">Part-Time</span>
          <img src="../../../../assets/images/clock.png" class="img-responsive float-end">
          <hr>
          <p class="card-text">Amet minim mollit non deserunt ullaf lo

            est sit aliqua dolor do amet sint. Velitan </p>
        </div>
      </div></div>
      <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="job_cards card mt-4 viewalljobs" style="width: 20rem;">
        <div class="card-body">
          <img src="../../../../assets/images/slang.png" alt="">
          <span class="card-title fw-bold fs-5">Slack</span>
          <div class="btn border text-info bg-primary ms-4 ">content Writer</div> 
          <h5 class="mt-3">Copywriter</h5>
          <img src="../../../../assets/images/location-marker.png" class="float-left img-responsive">
          <span class="text-primary">London</span>
          <span class="float-end text-primary">Full-Time</span>
          <img src="../../../../assets/images/clock.png" class="img-responsive float-end">
          <hr>
          <p class="card-text">Amet minim mollit non deserunt ullaf lo

            est sit aliqua dolor do amet sint. Velitan </p>
        </div>
      </div></div>
      <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="job_cards card mt-4 viewalljobs" style="width: 20rem;">
        <div class="card-body">
          <img src="../../../../assets/images/google.jpg" alt="">
          <span class="card-title fw-bold fs-5">Google</span>
          <div class="btn border text-warning bg-danger ms-5">Design</div> 
          <h5 class="mt-3">Graphic Designer</h5>
          <img src="../../../../assets/images/location-marker.png" class="float-left img-responsive">
          <span class="text-primary">Jakarta</span>
          <span class="float-end text-primary">Full-Time</span>
          <img src="../../../../assets/images/clock.png" class="img-responsive float-end">
          <hr>
          <p class="card-text">Amet minim mollit non deserunt ullaf lo

            est sit aliqua dolor do amet sint. Velitan </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center" (click)="navigateToFind()"><button class="btn btn-primary w-25 mt-5 mb-5">View All Jobs</button> 
    </div>
    </div>
     
      <div class="row text-white" style="background-color: rgba(18, 56, 82, 0.938);">
        <div class="col-md-12 text-center"><h2 class="mt-4">What Job Applicant Say About Us</h2></div>
        <div class="col-md-6 d-flex justify-content-end">
          <div class="card flex-row person mt-3 text-white" style="background-color: #3c9ad8a1;border: 2px solid #3c9ad8a1;border-radius: 20px;">
          <img src="../../../../assets/images/Userpic (2).png" class="card-img-left example-card-img-responsive mt-2">
          <div class="card-body">
            <p class="card-title ">I found my dream job through this job portal,the search filters made it easy to findrelevent jobs, and the application process was smooth and efficient.</p>
            <div class="card-text mt-4">
              <strong>ROBERT FOX</strong><br>
              <span>UI designer at Gojek</span>
            </div>
          </div>
          
      </div></div>
        <div class="col-md-6 d-flex justify-content-start">
          <div class="card flex-row person mt-3 text-white" style="background-color: #3c9ad8a1;border: 2px solid #3c9ad8a1;border-radius: 20px;">
          <img src="../../../../assets/images/Userpic (2).png" class="card-img-left example-card-img-responsive mt-2">
          <div class="card-body">
            <p class="card-title">I had been struggling to find a job portal helped me find job opportunities, and I landed my current job within weeks of signing up.</p>
            <div class="card-text mt-4">
              <strong>WILSON</strong><br>
              <span>Mobile Developer at Airbnb</span>
            </div>
          </div>
          
      </div></div>
        <div class="col-md-6 d-flex justify-content-end">
          <div class="card flex-row person mt-4 mb-5 text-white" style="background-color: #47aef29c;border: 2px solid #6abcf3a1;border-radius: 20px;">
            <img src="../../../../assets/images/member (3).png" class="card-img-left example-card-img-responsive mt-2 rounded">
            <div class="card-body">
              <p class="card-title">Thanks to this job, I was able to browse job listings from top companies and applyto my desired job with ease</p>
              <div class="card-text mt-4">
                <strong>PAOLO DYBALA</strong><br>
                <span>UX designer at Google</span>
              </div>
            </div>
            
        </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
          <div class="card flex-row person mt-4 mb-5 text-white" style="background-color: #47aef2a1;border: 2px solid #6abcf39c;border-radius: 20px;">
            <img src="../../../../assets/images/person5.jpg" class="card-img-left example-card-img-responsive mt-2 rounded">
            <div class="card-body">
              <p class="card-title">I found my dream job through this job portal,the search filters made it easy to findrelevent jobs, and the application process was smooth and efficient.</p>
              <div class="card-text mt-4">
                <strong>LESLIE ALEXANDER</strong><br>
                <span>Illustrator at Tockopedia</span>
              </div>
            </div>
            
        </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6 col-md-6 text-center"><img class="w-75 h-75 job_cards" src="../assets/images/Picture1.png" alt=""></div>
        <div class="col-lg-6 col-md-6 text-center"><h1 class="mt-5">Help Company To Get <br> The Best Talent</h1>
        <p class="fs-5 text-secondary">Amet minim mollit non deserunt ullamco <br> 
            est sit aliqua dolor do amet sint. Velit offi <br>
            cia consequat duis enim velit mollit.</p>
            <button class="btn btn-primary mt-5 w-25">Post A Job</button>
            <button class="btn btn-light border-0 mt-5 w-25">Learn more</button>
            
        </div>
        <div class="col-lg-12 col-md-12 text-center mt-5"><h1>Resource And Blog Center</h1>
          <p class="fs-5 text-secondary">Ideal platform for job seekers passionate about startups and <br>
              seeking new career opportunities.</p></div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="card border-0 shadow mt-4 mb-5" style="width: 18rem;">
                  <img src="../assets/images/Picture.png" class="card-img-top" alt="...">
                  <div class="card-body mt-2">
                    <a href="#" class="btn_3 btn btn-secondary">Design</a>
                    <h5 class="card-title mt-2">How to start your career in
                      a digital startup</h5>
                    <p class="card-text mt-2">Amet minim mollit non deserunt ullam
                      est sit aliqua dolor do amet sint. Velit 
                      officia consequat duis enim </p>
                      <a class="fw-bold text-primary text-decoration-none" href="">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="card  border-0 shadow mt-4 mb-5" style="width: 18rem;">
                <img src="../assets/images/hands.png" class=" card-img-top" alt="...">
                <div class="card-body mt-2">
                  <a href="#" class="btn_3 btn btn-secondary">Design</a>
                  <h5 class="card-title mt-2">Importance of teamwork in
                    the project</h5>
                  <p class="card-text mt-2">Amet minim mollit non deserunt ullam
                    est sit aliqua dolor do amet sint. Velit 
                    officia consequat duis enim </p>
                    <a class="fw-bold text-primary text-decoration-none" href="">Read More</a>
                </div>
              </div></div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="card  border-0 shadow mt-4 mb-5" style="width: 18rem;">
                <img src="../assets/images/Picture (1).png" class="card-img-top" alt="...">
                <div class="card-body mt-2">
                  <a href="#" class="btn_3 btn btn-warning">Finance</a>
                  <h5 class="card-title mt-2">Manage you finances from
                    now on for future purposes</h5>
                  <p class="card-text mt-2">Amet minim mollit non deserunt ullam
                    est sit aliqua dolor do amet sint. Velit 
                    officia consequat duis enim </p>
                    <a class="fw-bold text-primary text-decoration-none" href="">Read More</a>
                </div>
              </div></div>
    
  
       </div>