<div class="container-fluid  ">
    <div class="row flex-nowrap">
            
           

            <div class="row">
                <div class="col-md-5">
                    <div class="card border">
                        <div class="card-body text-center mt-4 ">
                            <img src="../../../../assets/images/Ellipse 1.png"><br> 
                            <div *ngFor="let list of profileDatas">
                                <span class="fw-bold text-center">{{list.profileName | titlecase}}</span><br>
                               <span class="text-secondary text-center pt-2 mb-4">{{list.profileSummary | titlecase}}</span>
                        </div>
                        
   
                            
                            </div>
                           
                        <!-- <input name="file" type="file" (change)="onFileSelected($event)"> -->
                        <!-- <div *ngFor="let list of resumes">
                        <button (click)="addResume(list.profileName, list.profileSummary, list.title)">Add</button>
                          </div> -->


                        <ul class="list-unstyled">
                    
                            <li class="card-text pt-3 text-secondary mx-3 ">
                                <img src="../../../../assets/images/sms.png">
                                <span class="mx-2">lesliealexander gmail.com </span> 
                            </li>
                            <li class="card-text pt-3 text-secondary mx-3">
                                <img src="../../../../assets/images/call.png">
                                <span class="mx-2">123456789012 </span>
                            </li>
                            <li class="card-text pt-3 text-secondary mx-3 mb-2">
                                <img src="../../../../assets/images/Vector.png" alt="">
                                <span class="mx-2">location</span>
                                <a routerLink="./update"><span class="float-md-end"><img src="../../../../assets/images/icons8-pencil-drawing-32.png" alt=""></span></a>
                            </li>
                        </ul> 
                        
                    </div>
                    <div class="row pt-3 mx-1">
                        <div class="card border mt-3">
                            <div class="card-body">
                                <h6 class="card-title text-start pb-2">About me</h6>
                                <p class="card-text text-secondary mb-5">
                                    Hardworking dedicated candidate with professional qualification in IT. Seeking an opportunity to work with a growth oriented organization on a real time software developement project.
                                </p>
                                <hr>
                                <p class="float-end">
                                    <img src="../../../../assets/images/icons8-pencil-drawing-32.png">
                                    <i class="bi bi-three-dots"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-md-7">
                    <div class="card border mt-2">
                        <div class="card-body">
                            <img src="../../../../assets/images/light-bulb 1.png">
                            <span class="fw-bold mx-2">Skills</span> 
                            <span>
                                <select name="" id="" class="form-control w-50" [(ngModel)]="skills">  
                                  <option *ngFor="let list of dropDownSkill" [value]="list.id">
                                    <p>{{ list.name }}
                                    </p>
                                  </option>
                                </select>
                                <button class="btn btn-success" (click)="addSkill(skills)">ADD</button> 
                              </span>
                              
                        </div>
                        <div class="card-text mx-5 text-secondary mb-4">
                            <!-- <ul>
                                <li *ngFor="let skill of skills">
                                 
                                  {{ skill.name }}
                                </li>
                              </ul> -->
                              <!-- <li>hhh</li> -->

                              <div  *ngFor="let skill of skills">
                                <li>{{skill.name}}</li>

                              </div>
                        </div>


                         <hr>
                        <p class="d-flex justify-content-end">
                            <img src="../../../../assets/images/icons8-pencil-drawing-32.png">
                            <i class="bi bi-three-dots"></i>
                        </p>
                    </div>

                    <div class="card border mt-3">
                        <div class="card-body">
                            <img src="../../../../assets/images/portfolio 2.png">
                            <span class="fw-bold mx-2">Education</span> 
                        </div>
                        <div class="card-text mx-5  text-secondary mb-4">
                            <ul class="list-unstyled">
                                <li>Bachelor of Arts-Design
                                    <span class="float-end">Nov'13-Dec'17</span>
                                </li>
                                <li>Field & Fort University
                                    <span class="float-end">Mansfield Ohio</span>
                                </li>
                                <ul style="list-style: disc;">
                                    <li>Top 10 percentile of the class</li>
                                </ul>
                                <li>
                                    Master of Arts-Graphic Design
                                    <span class="float-end">Texas University</span>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <button type="button" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add</button>                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form #qForm="ngForm">
                                  <div class="mb-3">
                                    <input type="text" placeholder="Name"  name="name" class="form-control" id="recipient-name" ngModel>
                                  </div>
                                  <div class="mb-3">
                                    <textarea class="form-control" name="description" placeholder="Description" id="message-text" ngModel></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="addQualification(qForm.value)">Add</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card border mt-3">
                        <div class="card-body ">
                            <img src="../../../../assets/images/portfolio 2.png">
                            <span class="fw-bold mx-2">Experience</span> 
                             <button class=" rounded bg-primary d-flex float-end border-0 text-white" > 
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add</button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addexperience">
            <input type="text" placeholder="Enter User jobTitle" class="border-0 border-bottom form-control"formControlName="jobTitle">
            
            <input type="text" placeholder="Enter companyName" class="mt-4 border-0 border-bottom form-control"formControlName="companyName">
      
            <input type="email" placeholder="Enter summary" class="mt-4 border-0 border-bottom form-control"formControlName="summary">
          
            <input type="date" placeholder="Enter serviceStart" class="mt-4 border-0 border-bottom form-control"formControlName="serviceStart">
         
            <input type="date" placeholder="Enter serviceEnd" class="mt-4 border-0 border-bottom form-control"formControlName="serviceEnd">
          
          
                <button type="submit" class="btn btn-info mt-2" (click)="addexp(addexperience.value)" >Submit</button>
              
           
        </form>
    
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" (click)="Addexperience(addexperienceform.value)">Add</button> -->
      </div>
    </div>
  </div>
</div> </button>
                             <div class="card mt-3 " *ngFor="let list of experience">
                              
                               <h6 class="mx-auto mt-3">{{list.jobTitle}}</h6> 
                            <p class="mx-auto">{{list.companyName}}</p>
                            <p class="mx-auto">{{list.summary}}</p>
                                <p class="mx-auto">{{list.serviceStart}}</p>
                             </div>
                        </div>
                       


                        <hr>
                        <p class="d-flex justify-content-end">
                            <img src="../../../../assets/images/icons8-pencil-drawing-32.png">
                            <i class="bi bi-three-dots"></i>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
           
     
      


    </div>

    <!-- view Profile
  <div *ngFor="let list of profileData">
        {{list.id}}
        {{list.profileName}}
        {{list.profileSummary}}
        {{list.resumeId}}
       
    </div>    -->
    <!-- <router-outlet></router-outlet> -->