<!-- 
<div class="container">
    <div class="row">
        <div class="col-4 h-100" *ngFor="let list of profileData">
            <div class="card">
        <div class="col-4" *ngFor="let list of profileData">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5>{{list.profileName | titlecase}}</h5>
                    <p>{{list.profileSummary |titlecase}}</p>
                </div>
                <a [routerLink]="['../show',list.id]"><button  class="btn btn-primary" (click)="getId(list)">View</button></a>

            </div>

        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-3"   *ngFor="let list of profileData">
            <div class="card  h-100 w-75 mx-auto shadow" >
                <div class="card-body">
                    <i class="bi bi-pencil-square float-end"></i>
                    <a class="text-decoration-none text-dark" [routerLink]="['../show',list.id]">
                    <div>
                    <h5 >{{list.profileName | titlecase}}</h5>
                    <p>{{list.profileSummary |titlecase}}</p>
                </div>
            </a>
                    <input *ngIf="upload" class="mt-3" type="file" (change)="uploadFile($event,list)">
                </div>
            </div>
        </div>
    </div>
</div>


 