<div class="col-lg-5 col-md-4 sm-center">
    <h2 class="text-center p-5">Application Status</h2>
    <img src="../../../../assets/images/Ellipse.png" style="margin-left: 12em; " alt=""><span >Applied</span>

    <div  style="height: 15em; background-color: green; width: .2em; margin-left: 12.6em;">


      </div>
  <img  src="../../../../assets/images/accept.png" style="margin-left: 11.8em; "  alt=""><span>Application sent</span>
<div style="height: 15.2em; background-color: rgb(53, 138, 32); width: .2em; margin-left: 12.6em;">

     </div>
  <img src="../../../../assets/images/accept.png" style="margin-left: 11.8em; " alt=""><span>Accepted</span>
  </div>






